html, body {
    
    background: url(world-submarine-cable-map.png)no-repeat center;
    background-size: cover;
    height: 100%;
    
    
}

.container {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgb(211, 218, 218, 0.7);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 30px 20px 0 rgba(0, 0, 0, 0.19)

}

h1, .time, .info {
    text-align: center;
   /* color: white; */
  /*  border: 1px solid black; */
   
    
}

.row {
    margin: 50px;
}

.time {
    /*border: 1px solid black; */
    padding: 10px;
}

